:root {
    --primary-dark: #444;
    --primary-light: #e3e3e3;
    --secondary-light: #ffffff;
    --secondary-dark: #202020;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid var(--primary-dark); */

}

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-light);
    color: var(--primary-dark);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 100vw;
}


/* HEADER */

.primary-header {
    padding: 10px 0px;
}

.title {
    text-align: center;
    font-size: 80px;
}


/* SETTINGS */

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 200px;
    padding: 10px;
}

button,
input[type='color'] {
    transition: transform 0.1s ease-in-out;
    background: none;
}

button:hover,
input[type='color']:hover {
    transform: scale(1.05);
}

input[type='color'] {
    appearance: none;
    width: 75px;
    height: 75px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    box-shadow: var(--primary-dark) 0px 3px 15px;
}

.size-value {
    margin-bottom: -20px;
    font-size: 20px;
}

input[type="range"] {
    appearance: none;
    background: none;
    cursor: pointer;
    width: 150px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    border: 1px solid var(--primary-dark);
    border-radius: 25px;
    background-color: var(--secondary-light);
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    /* Centers thumb on the track */
    margin-top: -4px;
    background-color: var(--primary-dark);
    transition: transform 0.1s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: var(--secondary-dark);
    transform: scale(1.1);
}

.buttons {
    display: flex;
    width: 150px;
    justify-content: space-around;
}

.buttons button {
    flex: 1;
}

.square-button {
    border: 0;
    font-size: 32px;
    color: var(--primary-dark);
}

.square-button:hover, .square-button.active {
    color: var(--secondary-dark);
}


/* GRID */

.grid {
    border: 3px solid var(--primary-dark);
    border-radius: 10px;
    display: grid;
    aspect-ratio: 1/1;
    width: 500px;
}


/* FOOTER */

.primary-footer {
    color: var(--primary-dark);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 40px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.fa-github {
    transition: transform 0.3s ease-in-out;
    color: var(--primary-dark);
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
    color: var(--secondary-dark);
}